<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/estilos.css">
    <link rel="shortcut icon" href="./favicon.jpg" type="image/x-icon">
    <title>Tienda ellas y nosotras</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Acerca de </a>
            <a href="#">Contacto</a>
        </nav>
        <section class="textos-header">
            <h1>Potencia tus ventas a un 20%</h1>
            <h2>Con una pagina wewb potente</h2>
           
        </section>
        <div class="wave">
            <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #eaeef13a;"></path></svg></div>
        </div>

        </div>
    </header>
    <main>
        <section class="sobre-nosotros">
            <h2 class="titulo">nuestro produto</h2>
            <div class="contenedor-sobre-nosotros">
                 <img src="./portada4.jpg" alt="" class="imagen-about-us"> 
                <div class="contenido-textos">
                    <h3><span>1</span>Los mejores productos</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, atque accusantium ad quaerat neque, facilis corrupti eius nam tempora labore sunt eum eveniet cum quisquam consequatur possimus beatae, molestias rerum.</p>
                    <h3><span>2</span>Los mejores productos</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, atque accusantium ad quaerat neque, facilis corrupti eius nam tempora labore sunt eum eveniet cum quisquam consequatur possimus beatae, molestias rerum.</p>
                </div>
            </div>
        </section>
        <section class="portfolio">
            <div class="contenedor">
                <h2 class="titulo">portafolio</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="./portada1.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="./portada4.jpg" alt="">
                            <p>Ellas y Nosotras</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="./portada2.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="./portada4.jpg" alt="">
                            <p>Ellas y Nosotras</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="./portada3.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="./portada4.jpg" alt="">
                            <p>Ellas y Nosotras</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="./portada4.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="./portada4.jpg" alt="">
                            <p>Ellas y Nosotras</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="./portada5.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="./portada4.jpg" alt="">
                            <p>Ellas y Nosotras</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="./portada6.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="./portada4.jpg" alt="">
                            <p>Ellas y Nosotras</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="./portada2.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="./portada4.jpg" alt="">
                            <p>Ellas y Nosotras</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <section class="contenedor">
            <h2 class="titulo">que diecen nuestro</h2>
            <div class="cards">
                <div class="card">
                    <img src="./instagram.jpg" alt="">
                    <h4>Name</h4>
                    <div class="contenido-texto-card">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, porro nostrum! Minus magni ea itaque atque nisi perferendis ducimus molestias illum alias? Earum, impedit et inventore harum alias libero nostrum!</p>
                    </div>
                </div>
                <div class="card">
                    <img src="./instagram.jpg" alt="">
                    <h4>Name</h4>
                    <div class="contenido-texto-card">
                        <p>Lorem ipsum dolor sit amet 
                        consectetur adipisicing elit. 
                        Provident, porro nostrum! 
                        Minus magni ea itaque atque
                         nisi perferendis ducimus molestias 
                         illum alias? Earum, impedit et
                          inventore harum alias libero nostrum!</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-service">
            <div class="contenedor">
                <h2 class="titulo">Nuestro servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="./ilustracion1.jpg" alt="">
                        <h3>Name</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vitae reprehenderit iste eos. Impedit corrupti assumenda perferendis esse modi! Optio quisquam illo at. Soluta, fuga? Officia veritatis soluta laborum molestias.</p>
                    </div>
                    <div class="servicio-ind">
                            <img src="./ilustracion2.jpg" alt="">
                            <h3>Name</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vitae reprehenderit iste eos. Impedit corrupti assumenda perferendis esse modi! Optio quisquam illo at. Soluta, fuga? Officia veritatis soluta laborum molestias.</p>
                    </div>
                    <div class="servicio-ind">
                            <img src="./ilustracion3.jpg" alt="">
                            <h3>Name</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint vitae reprehenderit iste eos. Impedit corrupti assumenda perferendis esse modi! Optio quisquam illo at. Soluta, fuga? Officia veritatis soluta laborum molestias.</p>
                    </div>
                </div>
        </div>
        </section>
    </main>
    <section>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Fhone</h4> 
               
               
                        <p class="black-text">
                          Chate&aacute; con nosotros, estamos a tu disposici&oacute;n!!
                          <a
                            target="_blank"
                            href="https://api.whatsapp.com/send?phone=[54][2478420091]&text=Hola!,%20necesito%20precio%20de%20una%20prenda"
                          >
                            <img
                              src="https://logodownload.org/wp-content/uploads/2015/04/whatsapp-logo-5.png"
                              alt="whatsapp-logo-5"
                            />
                          </a>
                        </p>
                      </div>

            
            <div class="content-foo">
                <h4>email</h4>
                <p>2222</p>
            </div>
            
        </div>
        <h2 class="titulo-final">&copy;2020 vgrana design | valeria grandi</h2>
    </footer>
</section>
</body>
</html>